* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
}

main {
  height: 100%;
  width: 100%;
  background-color: #151414;
  color: whitesmoke;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  button {
    padding: 0.9rem 1.2rem;
    border-radius: 0.7rem;
    color: whitesmoke;
    background-color: crimson;
    font-size: 1.3rem;
    font-weight: 600;
    outline: none;
    border: 5px inset white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    cursor: pointer;
  }

  button:active {
    scale: 0.98;
  }
}
